@import "reset";

//The only file you should really be editing for most 
//templating purposes. This file has a quick-edit section
//that quickly and easily allows you to edit basic style
//settings across the page.
@import "styles";
//Support variables
@import "variables";
@import "mixins";

//Has the responsive css for pagewrappers, rows, and boxes
@import "splat";
//Individual styling for largely reusable html elements,
//Like navbars and sections.
@import "objects";

//Specific styling for each individual instance of project,
//your own needs.
@import "home";



.example-boxes {
    div {
        text-align: center;
        background-color: @dark-light-color;
        padding:1%;
        margin: 5px 0;
        border: @default-border;
        border-radius: @default-border-radius;
    }
}
.example-image img {
    width:100%;
}