/* ========================================= 
SPECIFIC OBJECTS
===========================================*/
/*
Top-nav
//------------------------------
Sticky nav bar for desktop and tablet
Collapseable for mobile. 
*/
#top-nav {
	.inline-flex;
	position: fixed;
	top:0;
    width: 100%;
	background-image: linear-gradient(lighten(@nav-bg-color, 15%), darken(@nav-bg-color, 5%), @nav-bg-color, lighten(@nav-bg-color, 5%) ); 
	border-bottom: 2px outset @dark-color;
	border-bottom-left-radius: @default-border-radius;
	border-bottom-right-radius: @default-border-radius;
	z-index: 10;

	.logo-and-name {
		.inline-flex;
		padding: 0 10px;
		@media @mobile { text-align:right;width:100%;}

		span {
			height: 36px;
			margin: 0 5px 0 15px;
		}
		h2 {
			display:none;
			@media @mobile {
				width:100%; margin:0;
				display:inline-block;
			}
		}
		h3 {
			display:inline-block;
			font-family: @unique-text-font;
			color: @nav-title-color;
			@media @mobile { display:none; }
		}

	}

	ul{
		.wrap-flex;
		text-align: center;
		//change to inline flex if >= tablet
		@media @tablet {.inline-flex;}
		@media @mobile {position: absolute; top:50px; right:0; display:none;}
		li {
			width:100%; 
			//only make 100px if >= tablet
			@media @tablet { width: auto;}
			a {
				display: block;
				padding: 20px;
				width: 100%;
				color: @nav-link-color;
				font-family: @header-text-font;
			}
		}
	}
}

#top-nav.top-nav-transparent {
	background:none;
	border-color:transparent;
	h3, h2 {
		text-shadow:
		-1px -1px 0 @main-color,
		1px -1px 0 @main-color,
		-1px 1px 0 @main-color,
		1px 1px 0 @dark-color;
	}
	a {@media @mobile {background-color:@transparent-dark-color;
		text-shadow:
		-1px -1px 0 @main-color,
		1px -1px 0 @main-color,
		-1px 1px 0 @main-color,
		1px 1px 0 @dark-color;
	}
}
}

//Main Screen
//------------------------------
//The top call to action section.
//Takes up viewport and has a background image.
//Set bg img easily in styles.less
.main-screen {
	.abs-center-flex;
	@media @tablet {height:100%;}
	min-height: 100vh;
	background: @main-bg-img-link;
	background-size: cover;
	border-bottom: 4px solid @light-dark-color;

	h4, h5 { color: @main-color; margin: 25px;}
	h6 {color:@grey-color;}
	
	h1 {
		color: @light-color;
		font-size: 6rem;
		@media @mobile { font-size: 6rem; }
		@media @hard-tablet { font-size: 8rem; }
	}

}

.main-screen.main-screen-layout-2 {
	align-items:bottom;
	.image-text-overlay-center { 
		text-align:left;
		justify-content: flex-start;
		align-items:flex-end;
		& > div { padding:25px 25px 45px; }
		@media @mobile {
			padding: 10px;text-align:center;
		}
	}
	.title-hr {margin:24px 0; 
		@media @mobile {margin:24px auto;} }
	h1 { font-size: 4rem; }
	h4, h5 {margin-top:10px;}
	a{}
}

//TITLE HR
.title-hr {
	width:60%;
	margin:36px auto;
}

hr { margin: 12px auto 36px;}

//Image/Text Overlay
//------------------------------
//A quick overlay for centering text (usually on an image)
//On mobile it will cover the whole image
//Table with stretch width, desktop set width.
.image-text-overlay-center {
	.abs-center-flex;
	background-color: @transparent-dark-color;
	width:100%;
	height:100%;
	a.primary-button:hover {
		color:@light-color;
	}
}


.banner-quote {
	text-align: center;
	@media @desktop { padding: 75px; }
	@media @mobile { padding: 25px 0 50px;}
	@media @hard-tablet { padding: 25px 50px 50px;}

	h2 {
		@media @mobile { 
			font-size: 2.5rem;
		}
	}
	h4 { color: @light-color;}
	h5 { color: @dark-light-color;}
}




//Triple Intro
//-----------
//For the simplistic triple-column
//icon / header / paragraph 
//Section
.triple-intro{
	h3 {margin-top: 25px;}
}


//Use case- when you care more about sizes matching up 
//Then the display/borders of the pictures.
//--This will create a "Frame" of fixed height and centered
//width and a transparent overlay.

.image-overlay {
	.abs-center-flex;
	position: relative;
	border-radius: @default-border-radius;
	margin:auto;
	width:80%;
	overflow:hidden;
	div {
		height:100%;
		width:100%;
		position: absolute;
	}	
	img{width:100%;}
}

.neat-img-overlay {
	.image-overlay;
	//Find a way to implement change in height.
	height: 150px;
	div {
		background-color: fadeout(@transparent-main-color, 40%);
	}
	img {
		max-width: 100%;
		max-height: 100%;
		width: auto;
		height: auto;
	}
}

.light-img-overlay {
	.image-overlay;
	div {background-color: fadeout(@transparent-light-color, 40%);}
}

.dark-img-overlay {
	.image-overlay;
	div {background-color: fadeout(@transparent-dark-color, 40%);}
}

.color-img-overlay {
	.image-overlay;
	div {background-color: fadeout(@transparent-main-color, 40%);}
}

.image-attribution-box {
	width:90%;
	margin: auto;
	border-radius: @default-border-radius;
	border: 1px outset @grey-color;
	padding:10px 0;
	margin: 0 0 25px;
	h4 {
		text-align:center;
		text-decoration:underline;
		margin: 10px;
	}
    h6 {
		font-style:italic;
		color: @highlight-color;
		margin: 10px; 
	}
	img {
		display:block;
		width:100%;
		border-radius: 0;
		// border: 1px inset @grey-color;
	}
	
}

.grey-image-attribution-box {
	.image-attribution-box;
	background-color: @dark-light-color;
}

.light-image-attribution-box {
	.image-attribution-box;
	background-color: @light-color;	
}


.main-image-attribution-box {
	.image-attribution-box;
	background-color: @light-main-color;
}

.well {
	.container;
	border-radius: @default-border-radius;
	border: @default-border;
	background-color: @dark-light-color;
	
}

.subtext {
	display:block;
	font-size:80%;
}

//FORMS
.form-colors {
	background-color:transparent;
	border: 2px solid @highlight-color;
	font-family: @main-text-font;
}

.block-form {
	.form-colors;
	width:100%;
	padding:10px;
	margin:5px 10px 20px;
	border-radius: @default-border-radius;
	display:block;

	&:hover {
		outline: 1px solid @dark-light-color;
	}

	&:focus {
		outline-color: @light-color;
		outline-width:2px;
		background-color: @transparent-light-color;
		font-weight: bold;
	}
}


input[type=text] {
	.block-form();
}

input[type=submit] {
	font-family:@header-text-font;
}

select {
	.block-form();
}

textarea {
	.block-form();
}



.footer {		
	h3 {
		font-family: @unique-text-font;
		color: @nav-title-color;
	}
}





