<!doctype html>

<html lang="en">

<head>
  <meta charset="utf-8">

  <title>SPLAT Portfolio</title>

  <link rel="stylesheet" href="css/index.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/css?family=Abril+Fatface|Armata|Luckiest+Guy|Oswald|Righteous|Ubuntu"
    rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
    integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>

  <script src="components/menus/menus.js"></script>
  <script src="components/buttons/buttons.js"></script>
  <script src="components/forms/forms.js"></script>
  <script src="components/images/images.js"></script>
  <script src="components/responsive/responsive.js"></script>
  <script src="components/template/template.js"></script>

  <script src="js/splat.js"></script>




  <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
  <![endif]-->
</head>

<body>
  <nav id="top-nav" class="top-nav">

    <div class="logo-and-name">
      <h2><span id="menu-button" class="fas fa-meteor"></span></h2><h3><span class="fas fa-meteor"></span> Asteroid</h3>
    </div>

    <ul class="tablet-hidden desktop-hidden" id="menu-list">
      <li><a class="scroll" href="#top">Top</a></li>
      <li><a class="scroll" href="#about">About</a></li>
      <li><a class="scroll" href="#services">Services</a></li>
      <li><a class="scroll" href="#portfolio">Portfolio</a></li>
      <li><a class="scroll" href="#contact">Contact</a></li>
    </ul>
    
    <ul class="mobile-hidden">
      <li><a class="scroll" href="#top">Top</a></li>
      <li><a class="scroll" href="#about">About</a></li>
      <li><a class="scroll" href="#services">Services</a></li>
      <li><a class="scroll" href="#portfolio">Portfolio</a></li>
      <li><a class="scroll" href="#contact">Contact</a></li>
    </ul>

  </nav>

  <header id="top" class="main-screen main-screen-layout-3">
    <div class="image-text-overlay-center container">
      <div>

        <hr class="title-hr" />
        <h1>Asteroid</h1>
        <h6>Web Technologies & Marketing</h6>
        <hr class="title-hr" />

        <h4>One stop shop for businesses</h4>
        <h5>Anything you need</h5>



        <a href="#portfolio" class="scroll default-button">See Portfolio</a>
        <a href="#contact" class="scroll primary-button">Contact</a>
      </div>
    </div>
  </header>

  <div class="page-wrapper">
    <section id="overview" class="page-section squished-page-section banner-quote">
      <div class="container">
        <h1>
          <span class="fas fa-drafting-compass"></span>
          <span class="fas fa-laptop-code"></span>
          <span class="fas fa-server"></span>
        </h1>
        <h2>"Engineers like to solve problems. If there are no problems handily available, they will create their own problems." <span class="subtext">-Scott Adams</span></h2>
        <hr class="title-hr" />
        <h4>Experienced Full Stack Developer with passions for design, front-end development & database engineering.</h4>
        <hr class="title-hr" />
        <h5>HTML, CSS, SASS/LESS, Javascript, JQuery, AJAX, Wordpress, PHP, Ruby on Rails, MySQL, PostgreSQL, Java, C++, C, Assembly</h5>
      </div>
    </section>

    <section id="skills" class="page-section triple-intro">
      <div class="container">
        <h5>All-In-One Technology Solutions For Your Needs</h5>
        <h2>Freelance & Remote Project Team Member</h2>
        <hr />
        <div class="row">
          <div class="box-12-mobile box-tablet-6 box-desktop-4">
            <div class="container">
              <div class='neat-img-overlay'>
                <div></div>
                <!--Necessary empty div for overlay-->
                <img src="img/design.jpg" />
              </div>
              <h3>Design</h3>
              <p>Websites, logos, brands, ad campaigns.</p>
              <a href="#" class="default-button">See Full List</a>
            </div>
          </div>
          <div class="box-12-mobile box-tablet-6 box-desktop-4">
            <div class="container">
              <div class='neat-img-overlay'>
                <div></div>
                <!--Necessary empty div for overlay-->
                <img src="img/development.jpg" />
              </div>
              <h3>Development</h3>
              <p>Landing pages, portfolios, blogs, company websites or custom applications.</p>

              <a href="#" class="default-button">See Examples</a>
            </div>
          </div>
          <div class="box-12-mobile box-tablet-12 box-desktop-4">
            <div class="container">
              <div class='neat-img-overlay'>
                <div></div>
                <!--Necessary empty div for overlay-->
                <img src="img/marketing.jpg" />

              </div>
              <h3>Marketing</h3>
              <p>SEO, ads, content writing, social media management</p>

              <a href="#" class="default-button">See Features</a>
            </div>
          </div>
        </div>
      </div>
    </section>

    <div id="portfolio" class="page-section gallery">
      <div class="container">
        <div class="row">
          <div class="box-12">
            <h2>Portfolio</h2>
          </div>

          <!--ENTRY-->
          <div class='box-mobile-12 box-tablet-6 box-desktop-4'>
            <div class='image-attribution-box'>
              <h4>SPLAT</h4>
              <img src="img/smoke.jpg" />
              <h6>A quick description of what is shown/learned.</h6>
              <a class='secondary-button' href="#">Live Link</a>
            </div>  
          </div>

          <!--ENTRY-->
          <div class='box-mobile-12 box-tablet-6 box-desktop-4'>
            <div class='image-attribution-box'>
              <h4>ScaleTheory</h4>
              <img src="img/smoke.jpg" />
              <h6>A quick description of what is shown/learned.</h6>
              <a class='secondary-button' href="#">Live Link</a>
            </div>  
          </div>

          <!--ENTRY-->
          <div class='box-mobile-12 box-tablet-6 box-desktop-4'>
            <div class='image-attribution-box'>
              <h4>Portfolio Website</h4>
              <img src="img/smoke.jpg" />
              <h6>A quick description of what is shown/learned.</h6>
              <a class='secondary-button' href="#">Live Link</a>
            </div>  
          </div>

          <!--ENTRY-->
          <div class='box-mobile-12 box-tablet-6 box-desktop-4'>
            <div class='image-attribution-box'>
              <h4>JLC West, INC.</h4>
              <img src="img/smoke.jpg" />
              <h6>A quick description of what is shown/learned.</h6>
              <a class='secondary-button' href="#">Live Link</a>
            </div>  
          </div>
          
          <!--ENTRY-->
          <div class='box-mobile-12 box-tablet-6 box-desktop-4'>
            <div class='image-attribution-box'>
              <h4>CSS Project</h4>
              <img src="img/smoke.jpg" />
              <h6>A quick description of what is shown/learned.</h6>
              <a class='secondary-button' href="#">Live Link</a>
            </div>  
          </div>

          <!--ENTRY-->
          <div class='box-mobile-12 box-tablet-6 box-desktop-4'>
            <div class='image-attribution-box'>
              <h4>Javascript Project</h4>
              <img src="img/smoke.jpg" />
              <h6>A quick description of what is shown/learned.</h6>
              <a class='secondary-button' href="#">Live Link</a>
            </div>  
          </div>



        </div>
      </div>
    </div>

    <div id="contact" class="page-section">
      <div class="container">
        <div class="row">
          <div class="box-12">
            <h2>Contact</h2>
            <form action="contact.php" method="POST">
              Name: <input type="text" name="name">

              Email: <input type="text" name="email">
              
              Reason for Contact: <select name="reason">
                <option>Freelance Design</option>
                <option>Freelance Design</option>
                <option>Freelance Design</option>
              </select>
              
              Message: <textarea name="message"></textarea>
              
              <input type="submit" class="primary-button">
            
            </form>
          </div>

        </div>

      </div>

    </div>
  </div>

  <div id="footer" class="page-section footer">
    <div class="container">
      <h3>Jordan-Andrew <span class="fas fa-infinity"></span></h3>
      <hr />
      <h6>This page was designed & developed, written & produced by Jordan Hubbard.</h6>
      <ul>
        <li>My Portfolio</li>
        <li>My Github</li>
        <li>My Email</li>
      </ul>
    </div>
  </div>

</body>

</html>