<!doctype html>

<html lang="en">

<head>
  <meta charset="utf-8">

  <title>SPLAT Template</title>

  <link rel="stylesheet" href="css/index.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/css?family=Abril+Fatface|Armata|Luckiest+Guy|Oswald|Righteous|Ubuntu"
    rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
    integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>

  <script src="components/menus/menus.js"></script>
  <script src="components/buttons/buttons.js"></script>
  <script src="components/forms/forms.js"></script>
  <script src="components/images/images.js"></script>
  <script src="components/responsive/responsive.js"></script>
  <script src="components/template/template.js"></script>
  <script src="components/accordions/accordions.js"></script>

  <script src="js/splat.js"></script>




    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
  <![endif]-->
</head>

<body>
  <nav id="top-nav">
    <div class="logo-and-name">
      <h2><span id="menu-button" class="fas fa-tint"></span></h2><h3><span class="fas fa-tint"></span> Splat</h3>
    </div>

    <ul class="tablet-hidden desktop-hidden" id="menu-list">
      <li><a class="scroll" href="#top">Top</a></li>
      <li><a class="scroll" href="#intro">Overview</a></li>
      <li><a class="scroll" href="#features">Responsive Design</a></li>
      <li><a class="scroll" href="#styles">Styles</a></li>
      <li><a class="scroll" href="#download">Download</a></li>
    </ul>
    
    <ul class="mobile-hidden">
      <li><a class="scroll" href="#top">Top</a></li>
      <li><a class="scroll" href="#intro">Overview</a></li>
      <li><a class="scroll" href="#features">Responsive Design</a></li>
      <li><a class="scroll" href="#styles">Styles</a></li>
      <li><a class="scroll" href="#download">Download</a></li>
    </ul>


  </nav>

  <header id="top" class="main-screen">
    <div class="image-text-overlay-center container">
      <div>

        <hr class="title-hr" />
        <h1>Splat</h1>
        <h6>v0.9</h6>
        <hr class="title-hr" />

        <h4>A Single Page HTML5 Template built on LESS & JQuery</h4>
        <h5>Designed & Developed by Jordan Hubbard</h5>



        <a href="#" class="default-button">Checkout Features</a><br />
        <a href="#" class="primary-button">Download Now</a>
      </div>
    </div>
  </header>

  <div class="page-wrapper">
    <section id="overview" class="page-section squished-page-section banner-quote">
      <div class="container">
        <h1>
          <span class="fas fa-mobile-alt"></span>
          <span class="fas fa-tablet-alt"></span>
          <span class="fas fa-desktop"></span>
        </h1>
        <h2>A responsive, simple, single-page website template</h2>
        <hr class="title-hr" />
        <h4>A project to design & develop a completely responsive & customizeable layout from scratch</h4>
        <hr class="title-hr" />
        <h5>No Bootstrap, No JQueryUI, no pre-written code or libraries, no design-source files. A display of knowledge
          of designing & building components from scratch.</h5>
      </div>
    </section>

    <section id="intro" class="page-section triple-intro">
      <div class="container">
        <h5>Powerful. Sleek. Customizeable.</h5>
        <h2>Making This Template Different</h2>
        <hr />
        <div class="row">
          <div class="box-12-mobile box-tablet-6 box-desktop-4">
            <div class="container">
              <div class='neat-img-overlay'>
                <div></div>
                <!--Necessary empty div for overlay-->
                <img src="img/smoke.jpg" />
              </div>
              <h3>Customizeable Design</h3>
              <p>Drastically & quickly change the appearance of the template by changing fonts, styles, and other things like border radius all from an easy file.</p>
              <a href="#" class="default-button">See Full List</a>
            </div>
          </div>
          <div class="box-12-mobile box-tablet-6 box-desktop-4">
            <div class="container">
              <div class='neat-img-overlay'>
                <div></div>
                <!--Necessary empty div for overlay-->
                <img src="img/network.jpg" />
              </div>
              <h3>Colorize</h3>
              <p>All colors you see now are generated from one "main" color. Choose yours and instantly theme all other colors to match. Of course, these generations are easily overrideable for the designers out there.</p>

              <a href="#" class="default-button">See Examples</a>
            </div>
          </div>
          <div class="box-12-mobile box-tablet-12 box-desktop-4">
            <div class="container">
              <div class='neat-img-overlay'>
                <div></div>
                <!--Necessary empty div for overlay-->
                <img src="img/drone.jpg" />

              </div>
              <h3>Reusable HTML</h3>
              <p>Standard 12 column (boxes) responsive design, including classes to hide and display at breakpoints. Comes with a plethora of HTML objects to use as you see fit.</p>

              <a href="#" class="default-button">See Features</a>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section id="features" class="page-section">
      <div class="container">
        <h2>Responsive Design</h2>
        <h6>Best use case: .page-wrapper > .page-section > .container > .row > .box-x</h6>
        <h4>12 boxes across, classes by breakpoints</h4>
        <div class="container">
          <div class="row example-boxes">
            <section class="box-12">
              <h4>Responsive Display</h4>
            </section>
            <div class="box-12">12 M-T-D</div>

            <div class="box-11">11 M-T-D</div>
            <div class="box-1">1</div>

            <div class="box-10">10 M-T-D</div>
            <div class="box-2">2</div>

            <div class="box-9">9 M-T-D</div>
            <div class="box-3">3</div>

            <div class="box-8">8 M-T-D</div>
            <div class="box-4">4 M-T-D</div>

            <div class="box-7">7 M-T-D</div>
            <div class="box-5">5 M-T-D</div>

            <div class="box-6">6 M-T-D</div>
            <div class="box-1">1</div>
            <div class="box-2">2</div>
            <div class="box-3">3</div>

            <section class="box-12">
              <h4>Mobile 12</h4>
            </section>
            <div class="box-6 box-mobile-12">6 T-D / 12 M</div>
            <div class="box-1 box-mobile-12">1/12</div>
            <div class="box-2 box-mobile-12">2TD / 12M</div>
            <div class="box-3 box-mobile-12">3TD / 12M</div>

            <section class="box-12">
              <h4>Hidden</h4>
            </section>
            <div class="box-12 mobile-hidden">Mobile Hidden</div>
            <div class="box-12 tablet-hidden">Tablet Hidden</div>
            <div class="box-12 desktop-hidden">Desktop Hidden</div>


            <section class="box-12">
              <h4>Nesting</h4>
            </section>
            <div class="box-12">
              12MTD
              <section class="row">
                <div class="box-6">6MTD</div>
                <div class="box-6">6MTD
                  <section class="row">
                    <div class="box-6">6MTD</div>
                    <div class="box-6">6MTD</div>
                  </section>
                </div>
              </section>
            </div>

            <section class="box-12">
              <h4>Padding</h4>
            </section>
            <section class="box-6">
              <section class="container">
                <div>.container inside .box; *div inside that</div>
              </section>
            </section>
            <section class="box-6">
              <section class="container">
                <div>.container inside .box; *div inside that</div>
              </section>
            </section>

            <section class="box-4">
              <section class="container">
                <div>4MTD</div>
              </section>
            </section>
            <section class="box-3">
              <section class="container">
                <div>3MTD</div>
              </section>
            </section>
            <section class="box-1">
              <section class="container">
                <div>1</div>
              </section>
            </section>
            <section class="box-4">
              <section class="container">
                <div>4MTD</div>
              </section>
            </section>


          </div>
        </div>

      </div>

    </section>

    <div id="styles" class="page-section">
      <div class="container">
        <div class="row">
          <div class="box-12">
            <h2>Components</h2>
          </div>
          <div class="box-12 accordion">
            <h3>Buttons</h3>
            <section class="well">
              <a href="#" class="default-button">Default</a>
              <a href="#" class="primary-button">Primary</a>
              <a href="#" class="secondary-button">Secondary</a>
              <a href="#" class="cancel-button">Cancel</a>
              <a href="#" class="confirm-button">Accept</a>
            </section>
          </div>

          <div class="box-12 accordion">
            <h3>Headers</h3>
            <section class="well">
              <h1>Top Header</h1>
              <h2>Main Header</h2>
              <h3>Section Header</h3>
              <h4>Title</h4>
              <h5>Significance</h5>
              <h6>Notes</h6>
              <p>Paragraph Tags</p>
              <a href="#">Links</a>
            </section>
          </div>


          <div class="box-12 accordion">
            <h3>Images</h3>
            <section class="well">
                <p>Surrounded by .neat-img-overlay and with an empty div immediately prior to the image tag. </p>
              <div class="row">
                <div class="box-12 box-tablet-6 box-desktop-4">
                  <h5>Light Overlay</h5>
                  <p>Adds a slight, transparent overlay.</p>
                  <!--CODE-->
                  <div class='light-img-overlay'>
                    <div></div>
                    <!--Necessary empty div for overlay-->
                    <img src="img/smoke.jpg" />
                  </div>
                  <!--CODE-->
                </div>


                <div class="box-12 box-tablet-6 box-desktop-4">
                  <h5>Color Overlay</h5>
                  <p>Adds a slight overlay of the main color.</p>
                  <!--CODE-->
                  <div class='color-img-overlay'>
                    <div></div>
                    <!--Necessary empty div for overlay-->
                    <img src="img/smoke.jpg" />
                  </div>
                  <!--CODE-->
                </div>

                <div class="box-12 box-tablet-6 box-desktop-4">
                  <h5>Neat Overlay</h5>
                  <p>Set height and "cover" for "neatness".</p>
                  <!--CODE-->
                  <div class='neat-img-overlay'>
                    <div></div>
                    <!--Necessary empty div for overlay-->
                    <img src="img/smoke.jpg" />
                  </div>
                  <!--CODE-->
                </div>


              </div>
            </section>
          </div>

          <div class="box-12 accordion">
            <h3>Image boxes</h3>
            <section class="well">
              <div class="row">

                <div class="box-12 box-tablet-6 box-desktop-4">
                  <h5>Above and below</h5>
                  <p>A title and an attribution.</p>
                  <!--CODE-->
                  <div class='image-attribution-box'>
                    <h4>Optional Title</h4>
                    <img src="img/smoke.jpg" />
                    <h6>Optional Attribution or description goes here.</h6>
                  </div>
                  <!--CODE-->
                </div>

                <div class="box-12 box-tablet-6 box-desktop-4">
                  <h5>Just a Title</h5>
                  <p>A quick description</p>
                  <!--CODE-->
                  <div class='light-image-attribution-box'>
                    <h4>Optional Title</h4>
                    <img src="img/smoke.jpg" />
                  </div>
                  <!--CODE-->
                </div>

                <div class="box-12 box-tablet-6 box-desktop-4">
                  <h5>Main Color</h5>
                  <p>A highlight or primary image.</p>
                  <!--CODE-->
                  <div class='main-image-attribution-box'>
                    <img src="img/smoke.jpg" />
                    <h6>Optional Attribution or description goes here.</h6>
                  </div>
                  <!--CODE-->
                </div>

              </div>

            </section>
          </div>

          <div class="box-12 accordion">
            <h3>Forms</h3>
            <section class="well">
              <form>  
                <input type="text" />
                <input type="radio" />
                <input type="radio" />
                <input type="radio" />
                <select><option>1</option><option>2</option><option>3</option></select>
                <textarea></textarea>
              </form>
            </section>
          </div>

          <div class="box-12 accordion">
            <h3>Miscellanious</h3>
            <section class="well">
              <section class="well">Wells</section>
            </section>
          </div>

          <!-- 
      <div class="box-12">
          <h3>Misc.</h3>
          <section class="well">
            <section class="well">Wells</section>
          </section>
        </div> -->
        </div>
      </div>
    </div>


    <div id="objects" class="page-section">
      <div class="container">
        <div class="row">
          <div class="box-12">
            <h2>Customization & Objects</h2>
          </div>

          <div class="box-6">
            <h3>Menu Bar</h3>
            <p>3 Different Styles of Menu Bars- Dark, Transparent, and Colorful</p>
          </div>
          
          <div class="box-6">
            <h3>Call to Action</h3>
            <p>3 Different Layouts- Completely Centered, Lower Left, and Middle Right</p>          
          </div>
          
          <div class="box-6">
            <h3>Page Sections</h3>
            <p>Triple Column Intro, Contact, Portfolios, Quotes, And More</p>          
          </div>

          <div class="box-6">
            <h3>3 Different Layouts to Start From</h3>
            <p>Profile, Business, and Product</p>
          </div>
        </div>
      </div>
    </div>

    <div id="contact" class="page-section">
      <div class="container">
        <div class="row">
          <div class="box-12">
            <h2>Contact</h2>
            <form action="contact.php" method="POST">
              Name: <input type="text" name="name">

              Email: <input type="text" name="email">
              
              Reason for Contact: <select name="reason">
                <option>Freelance Design</option>
                <option>Freelance Design</option>
                <option>Freelance Design</option>
              </select>
              
              Message: <textarea name="message"></textarea>
              
              <input type="submit" class="primary-button">
            
            </form>
          </div>

        </div>

      </div>

    </div>

    <div id="download" class="page-section">
      <div class="container">
        <div class="row">
          <div class="box-12 box-desktop-6">
            <h2>Download & Install</h2>
            <ol>
              <li>1. Fork/clone git</li>
              <li>2. Choose which layout you'd like to use, and rename as index.html</li>
              <li>3. Arrange Components, Objects & Texts</li>
              <li>4. Edit styles.less to change colors & fonts</li>
              <li>5. Compile less files (or set up less-watch)</li>
              <li>6. Visit!</li>
            </ol>
          </div>
          <div class="box-12 box-desktop-6">
            <h1><span class="fas fa-download"></span></h1>
            <a href="#" class="primary-button">Github link</a><br />
            <a href="#" class="default-button">Checkout My Other Work <span class="fas fa-server"></span></a><br />
            <a href="#" class="default-button">Hire Me To Design Yours <span class="fas fa-user-tie"></span></a>
            <h3>Separate JS/Less files for incorporating into your own project coming soon</h3>

          </div>

        </div>

      </div>

    </div>
  </div>

  <div id="footer" class="page-section footer">
    <div class="container">
    <h3>Splat <span class="fas fa-tint"></span></h3>
    <hr  />
    <h6>This page was made by this template.</h6>
    <ul>
      <li>My Portfolio</li>
      <li>My Github</li>
      <li>My Email</li>
    </ul>
    </div>
  </div>

</body>

</html>